<!-- FOOTER -->
<div class="container my-5">
  <div>
    <div>
      <div>
        <button type="button" class="btn btn-outline-primary" ><a href="/productos" class="link-secondary">Lista de productos</a></button>
      </div>
          
     <div>
        <button type="button" class="btn btn-outline-primary" ><a href="/" class="link-secondary">Inicio / Agregar</a></button>
      </div>
    </div>
  </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: Rodrigo Manzo
    </div>
    <!-- Copyright -->
  </footer>
  
</div>
<!-- End of .container -->