{{!-- INDEX DE LA API --}}

<div class="card card-body bg-dark text-white p-5">
  <h1 class="display-3">API de PRODUCTOS ACME!</h1>
  <p class="my-3">Crea, Modifica y Elimina Productos.... espero....</p>
  <hr class="my-4" />
   <div>
    <a class="btn btn-primary btn-lg" href="./tasks/productos" role="button">
      Lista de Productos
    </a>
  </div>
</div>