<div class="card card-body bg-dark text-white p-5">
   <h1><strong>AGREGA TUS PRODUCTIRIGILLOS</strong>

<span>
//////////////////////////////////////////
</span>

    <form action = "/productos" method ="POST">
        <input type="text" name="title" placeholder="Nombre del Producto" required>
        <input type="text" name="price" placeholder="Precio" required>
        <input type="text" name="thumbnail" placeholder="URL de la Imagen" required>
        <input type="submit" value="Agregar">
    </form>
////////////////////////////////////////////
    <div>

        
    </div>

</div>
    